/*ul[data-md-component="toc"] .md-nav__link[href^="#src."] {
    color: red;
}*/

.doc-label-staticmethod code {
    background-color: red;
    color: white;
}

.doc-function h3.doc-heading code.highlight {}

.doc-function h3.doc-heading {
    border-bottom: 2px solid black;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 20px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}